@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-primary {
@apply bg-blue-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-blue-700;
}
.card-shadow {
@apply bg-white rounded-lg shadow-md p-4;
}


html, body, #root {
  height: 100%;
}
body {
  margin: 0;    
}